<div class="centered-container">
    <div class="centered-div">
        <a href="/">
            <img src="logo.png" alt="Logo" class="logo">
        </a>
        <span class="text-span">Cześć, dostaliśmy twoją prośbę o reset hasła, poniżej ustaw nowe hasło.</span>
        <div class="input-container">
            <label for="new-password">Podaj nowe hasło:</label>
            <input id="new-password" type="password" placeholder="Podaj nowe hasło" class="password-input" [name]="password" [(ngModel)]="password">
            <label for="confirm-password">Powtórz hasło:</label>
            <input id="confirm-password" type="password" placeholder="Powtórz hasło" class="password-input" [name]="confirmPassword" [(ngModel)]="confirmPassword">
        </div>
        <button class="submit-button" (click)="resetPassword()">Zapisz</button>
    </div>
</div>
<div id="toast-container" class="toast-top-right"></div>