
  .container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    height: calc(100vh - 60px);
  }

  .left-div, .right-div {
    padding: 20px;
    background-color: #422D29;
    color: #EA962A;
    width: 400px;
    height: 60%;
    font-size: 36px;
    border: 1px solid #422D29;
    margin: 10px;
    text-align: center; /* Wyśrodkowanie tekstu w poziomie */
    border-radius: 20px;
    font-weight: bold; /* Pogrubienie tekstu */
    display: flex; /* Flexbox do wyrównania w pionie */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    transition: transform 0.3s ease;
}

.left-div:hover, .right-div:hover {
    transform: scale(1.05);
}

