.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.left-div,
.right-div {
  padding: 20px;
  background-color: #422D29;
  color: #EA962A;
  width: 400px;
  height: 60%;
  font-size: 36px;
  border: 1px solid #422D29;
  margin: 10px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.left-div:hover,
.right-div:hover {
  transform: scale(1.05);
}