/* Kontener na overlay */
.game-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.game-details-top {
    width: 100%;
    background-color: #422D29;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Kontener dla całego pop-up */
.game-details-content {
    background: #EA962A;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 900px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90vh;
    border: 5px solid #422D29;
    box-sizing: border-box;
}

/* Styl dla avatar i nazwy */
.game-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.game-details span {
    display: block; /* Każdy span zajmuje nową linię */
    margin: 0; /* Reset marginesów, aby uniknąć niepotrzebnych odstępów */
    text-align: left;
}

.game-details span:first-child {
    font-size: 24px; /* Większa czcionka */
    font-weight: bold; /* Pogrubienie */
    color: #EA962A;
}

.game-details span:nth-child(2) {
    font-size: 16px; /* Mniejsza czcionka */
    font-weight: normal; /* Normalna czcionka */
    color: #EA962A;
    margin-top: 5px; /* Odstęp między elementami */
}

.game-details-sections {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    flex: 1;
    justify-content: space-between;
}
/* Formularz */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

/* Wiersze formularza */
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px; /* Zmniejszony gap */
    flex-wrap: wrap; /* Umożliwia zawijanie, jeśli elementy nie mieszczą się w jednej linii */
}

/* Grupa formularza */
.form-group {
    color: #422D29;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    min-width: 120px; /* Zabezpieczenie minimalnej szerokości */
}

.input-container {
  width: 100%;
}

.custom-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #422D29;
  background-color: #f5cb95;
}

.buttons{
    display: flex;
    justify-content: flex-end; /* Opcjonalnie: wyrównanie przycisków do prawej */
    gap: 10px; /* Odstęp między przyciskami */
}

.delete-button {
    background-color: #D14E3F;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; /* Odstęp między przyciskami */
    transition: transform 0.3s ease;
}

.delete-button:hover {
    transform: scale(1.1);
}

.form-group label {
    color: #422D29;
    font-weight: bold;
}


input, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #422D29;
    font-size: 14px;
    box-sizing: border-box; /* Uwzględnia padding w szerokości */
    background-color: #f5cb95;
}

textarea {
    resize: none;
}

.submit-button {
    background-color: #A4691D;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s ease;
}

.submit-button:hover {
    transform: scale(1.1);
}

input[type="file"] {
    border: none;
}

/* Przycisk zamykania */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    color: #EA962A;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.close-button:hover {
    transform: scale(1.1);
}

/* Ustawienia dla samego paska przewijania */
::-webkit-scrollbar {
    width: 12px; /* Szerokość paska przewijania w pionie */
    height: 12px; /* Wysokość paska przewijania w poziomie */
}

/* Ustawienia dla toru paska przewijania (część, po której pasek przewija się) */
::-webkit-scrollbar-track {
    background-color: #f5cb95; /* Kolor tła toru */
    border-radius: 10px; /* Zaokrąglenie rogów toru */
}

/* Ustawienia dla samego "uchwytu" paska przewijania */
::-webkit-scrollbar-thumb {
    background-color: #422D29; /* Kolor uchwytu */
    border-radius: 10px; /* Zaokrąglenie rogów uchwytu */
    border: 3px solid #422D29; /* Obramowanie uchwytu */
}

/* Ustawienia dla uchwytu paska przewijania przy najechaniu */
::-webkit-scrollbar-thumb:hover {
    background-color: #A4691D; /* Jaśniejszy kolor przy najechaniu */
}
