<app-nav-bar [isAdmin]="isAdmin"></app-nav-bar>

<div id="order-details-popup" [ngClass]="{ 'orderDetailsInvisible': !isOrderDetailsVisible, 'orderDetailsVisible': isOrderDetailsVisible }">
  <app-order-details (close)="toggleOrderDetails()" [selectedOrder]="selectedOrder"></app-order-details>
</div>


<div class="container">
  <div class="left-pane">
    <span class="filtr-label">Filtry</span>
    <div class="divider"></div>

    <label for="gameName">Numer zamówienia:</label>
    <div class="input-group">
        <input type="text" id="orderNumber" placeholder="Szukaj po numerze zamówienia:" name="pattern" [(ngModel)]="pattern"/>
      </div>
      <div class="input-container">
        <label for="example-select">Status:</label>
        <select id="example-select" class="custom-select" name="status" [(ngModel)]="status">
          <option value="">-</option>
          <option value="Anulowane">Anulowane</option>
          <option value="option2">Opcja 2</option>
          <option value="option3">Opcja 3</option>
          <option value="option4">Opcja 4</option>
        </select>
      </div>

  <button class="confirm-button" (click)="updateOrdersInput()">Zatwierdź</button>
  </div>
  <div class="right-pane">
    <div class="right-pane">
      <div *ngFor="let order of ordersInput" class="order-card" (click)="toggleOrderDetails(order)">
        <div class="order-left">
          <div class="order-number">Numer zamówienia: <strong>{{ order.number }}</strong></div>
          <div class="order-date">Data złożenia: <strong>{{ order.date }}</strong></div>
        </div>
        <div class="order-right">
          <div class="order-status">Status: <span>{{ order.status }}</span></div>
          <div class="order-amount">Kwota: <strong>{{ order.amount }}</strong></div>
        </div>
      </div>
      
  </div>
</div>


