<app-nav-bar [isAdmin]="isAdmin"></app-nav-bar>
<div class="container">
  <div class="left-pane">
    <span class="filtr-label">Filtry</span>
    <div class="divider"></div>

    <label for="gameName">Numer zamówienia:</label>
    <div class="input-group">
        <input type="text" id="orderNumber" placeholder="Szukaj po numerze zamówienia:" />
      </div>
      <div class="input-container">
        <label for="example-select">Kategoria:</label>
        <select id="example-select" class="custom-select">
          <option value="option1">Opcja 1</option>
          <option value="option2">Opcja 2</option>
          <option value="option3">Opcja 3</option>
          <option value="option4">Opcja 4</option>
        </select>
      </div>

  <button class="confirm-button">Zatwierdź</button>
  </div>
  <div class="right-pane">
    <div class="right-pane">
      <div *ngFor="let order of orders" class="order-card">
        <div class="order-left">
          <div class="order-number">Numer zamówienia: <strong>{{ order.number }}</strong></div>
          <div class="order-date">Data złożenia: <strong>{{ order.date }}</strong></div>
        </div>
        <div class="order-right">
          <div class="order-status">Status: <span>{{ order.status }}</span></div>
          <div class="order-amount">Kwota: <strong>{{ order.amount }}</strong></div>
        </div>
      </div>
      
  </div>
</div>


