<div class="order-details-overlay">
    <div class="order-details-content">
        <div class="order-details-top">
            <div class="order-details">
                <div>
                    <span>Zamówienie numer {{selectedOrder.number}}</span>
                </div>
                <button class="close-button" (click)="onClose()">×</button>
            </div>
        </div>
        <div class="order-details-sections">
            <div class="order-section-left">
                <span class="header">Wypożyczone przedmioty:</span>
                <div class="divider"></div>
            </div>
            <div class="order-section-middle">
                <span class="header">Dane klienta:</span>
                <div class="divider"></div>
            </div>
            <div class="order-section-right">
                <span class="header">Dane transakcji:</span>
                <div class="divider"></div>
            </div>
    </div>
    <div class="input-container">
        <label for="example-select">Status:</label>
        <select id="example-select" class="custom-select">
          <option *ngFor="let option of options" [value]="option">{{ option }}</option>
        </select>
        <button class="confirm-button">Zatwierdź</button>
      </div>
</div>
