/* Kontener na overlay */
.order-details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.order-details-top {
    width: 100%;
    background-color: #422D29;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
}

/* Kontener dla całego pop-up */
.order-details-content {
    background: #EA962A;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 1200px;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80vh;
    border: 5px solid #422D29;
    box-sizing: border-box;
}

/* Styl dla avatar i nazwy */
.order-details {
    display: flex;
    align-items: center;
    gap: 15px;
}

.order-details span {
    display: block;
    margin: 0;
    text-align: left;
}

.order-details span:first-child {
    font-size: 24px;
    font-weight: bold;
    color: #EA962A;
}

/* Sekcja z dwoma równymi polami */
.order-details-sections {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 50vh; /* Ustalamy wysokość dla sekcji */
    padding: 10px;
}

.order-section-left, .order-section-right, .order-section-middle {
    flex: 1; /* Ustalamy, że oba pola zajmują po 50% dostępnej szerokości */
    background: #422D29;
    color: #EA962A;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    text-align: start;
    box-sizing: border-box;
    height: 100%; /* Ustalamy, że mają równe wysokości */
    overflow-y: auto;
}

.header { 
    font-size: 24px;
    font-weight: bold;
}

/* Styl dla przycisku zamknięcia */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    color: #EA962A;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.close-button:hover {
    transform: scale(1.1);
}
.input-container{
    width: 60%;
    margin: 10px auto; /* Centruje element poziomo */
    display: block; 
}

.custom-select {
    padding: 10px;
    background-color: #f5cb95;
    border: 2px solid #EA962A;
    border-radius: 10px;
    font-size: 16px;
    width: 85%;
  }
  
  .custom-select label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

.divider {
    width: 100%;
    height: 3px;
    background-color: #EA962A;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
  }

/* Ustawienia dla samego paska przewijania */
::-webkit-scrollbar {
    width: 12px; /* Szerokość paska przewijania w pionie */
    height: 12px; /* Wysokość paska przewijania w poziomie */
}

/* Ustawienia dla toru paska przewijania (część, po której pasek przewija się) */
::-webkit-scrollbar-track {
    background-color: #f5cb95; /* Kolor tła toru */
    border-radius: 10px; /* Zaokrąglenie rogów toru */
}

/* Ustawienia dla samego "uchwytu" paska przewijania */
::-webkit-scrollbar-thumb {
    background-color: #A4691D; /* Kolor uchwytu */
    border-radius: 10px; /* Zaokrąglenie rogów uchwytu */
    border: 3px solid #A4691D; /* Obramowanie uchwytu */
}

/* Ustawienia dla uchwytu paska przewijania przy najechaniu */
::-webkit-scrollbar-thumb:hover {
    background-color: #f5cb95; /* Jaśniejszy kolor przy najechaniu */
}