body {
  overflow: hidden;
}

.container {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 87vh;
  gap: 10px;
  justify-content: center;
}

.pane {
  width: 95%;
  padding-right: 20px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  overflow-y: auto;
  grid-auto-rows: min-content;
}

.card-new-game {
  background-color: #f5cb95;
  border: 2px solid #422D29;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
  transition: transform 0.3s ease;
}

.card-new-game:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card-new-game-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
}


.card {
  background-color: #f5cb95;
  border: 2px solid #422D29;
  border-radius: 8px;
  padding: 10px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 165px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
  position: relative;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card-image {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 10%;
  border: 2px solid #422D29;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-text h3 {
  margin: 0 0 5px;
  font-size: 18px;
  color: #422D29;
}

.card-text p {
  margin: 0;
  font-size: 14px;
  color: #6E4E43;
}

.card-price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  color: #422D29;
  font-weight: bold;
}




::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f5cb95;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #422D29;
  border-radius: 10px;
  border: 3px solid #422D29;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #A4691D;
}

.gameEditInvisible {
  display: none;
}

.gameEditVisible {
  display: block;
}