<div class="centered-container">
    <div class="centered-div">
        <a href="/">
            <img src="logo.png" alt="Logo" class="logo">
        </a>
        <span class="text-span">Logowanie</span>
        <div class="input-container">
            <label for="login">Login</label>
            <input id="login" type="text" placeholder="Podaj login" class="login-input" name="login" [(ngModel)]="login">
            <label for="password">Hasło</label>
            <input id="password" type="password" placeholder="Podaj hasło" class="login-input" name="passwordLogin" [(ngModel)]="passwordLogin">
        </div>
        <button class="submit-button" (click)="LogIn()">Zaloguj</button>
    </div>
  </div>
  <div id="toast-container" class="toast-top-right"></div>