<div class="centered-container">
    <div class="centered-div">
        <a href="/">
            <img src="logo.png" alt="Logo" class="logo">
        </a>
        <span class="text-span">Logowanie</span>
        <div class="input-container">
            <label for="mail">e-mail</label>
            <input id="mail" type="email" placeholder="Podaj adres e-mail" class="login-input">
            <label for="password">Powtórz hasło:</label>
            <input id="password" type="password" placeholder="Podaj hasło" class="login-input">
        </div>
        <button class="submit-button">Zaloguj</button>
    </div>
  </div>